
h1 {
    padding: 16px;
    border-bottom: 2px solid black;
}
.container {
    max-width: 1024px;
}

.container img {
    margin-bottom: 50px;
}

.formulario{
    margin-left: 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
}

.switch {
    margin-top: 8px;
}

.btn-enviar {
    display: block;
    margin: 16px;
}