//CORES
@corDeFundo: #f5f6fa;
@corfundoHeader:#182C61;
@corTexto:#fff;
@corFundoButton:#44bd32;
@corButtonHover:#4cd137;

//FONTE
@fontePadrao: roboto, sans-serif;

//ESPAÇAMENTOS
@espacamentoPequeno: 8px;
@espacamentoMedio: 16px;
@espacamentoGrande: 56px;

@larguraContainer: 1024px;

#cores() {
    fundo: #f5f6fa;
    header: #182c61;
    texto: #fff;
    botao: #44bd32;
    botaoHover: #4cd137;
}